
/* ==========================================================================
   STYLEGUIDE STYLES
   ==========================================================================
 *
 * GLOBAL
 *
 * TOPPER
 * Burger menu
 *
 * ASIDE
 * Nav top level
 *
 * MAIN
 * Colors
 * Fonts
 * X-Ray HTML
 *
 */



/* ==========================================================================
   GLOBAL
   ========================================================================== */
*, *:before, *:after {box-sizing: border-box;}

.sg-body {
  margin: 0;
}


/* ==========================================================================
   TOPPER
   ========================================================================== */
.sg-topper {
  height: 60px;
  background: #00bcd4;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Burger menu
========================================================================== */
.sg-nav-trigger {
  position: absolute;
  height: 24px;
  width: 24px;
  top: 16px;
  left: 18px;
  cursor: pointer;
}

.sg-nav-trigger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.3s;
}

.sg-nav-trigger span:before,
.sg-nav-trigger span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: #fff;
  content: '';
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.sg-nav-trigger span:before {
  -webkit-transform: translateY(-250%);
  transform: translateY(-250%);
  top: 2px;
}

.sg-nav-trigger span:after {
  -webkit-transform: translateY(250%);
  transform: translateY(250%);
  top: -2px;
}

.nav-is-opened .sg-nav-trigger span { background-color: transparent; }

.nav-is-opened .sg-nav-trigger span:before {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
  top: 0;
}

.nav-is-opened .sg-nav-trigger span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
  top: 0;
}

.sg-topper-title {
  color: #fff;
  line-height: 60px;
  margin-left: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}


/* ==========================================================================
   ASIDE
   ========================================================================== */
.sg-aside {
  width: 265px;
  background: #eee;
  color: #333;
  position: fixed;
  padding: 59px 0;
  left: 0;
  top: 0;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 13px;
  overflow: scroll;
  transition: .3s;
  -webkit-transform: translateX(-265px);
  transform: translateX(-265px);
}

.nav-is-opened .sg-aside {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.sg-aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sg-nav {
  border-top: 1px solid #ccc;
}

.sg-nav ul {
  display: none;
}

.sg-nav > li > ul {
  padding: 0;
}

.sg-nav span,
.sg-nav a {
  display: block;
  padding: 12px 24px 12px 0;
  cursor: pointer;
}

.sg-nav ul span,
.sg-nav ul a {
  padding-left: 24px;
}

.sg-nav ul  ul span,
.sg-nav ul ul a {
  padding-left: 48px;
}

.sg-nav ul span {
  position: relative;
  padding-right: 40px;
}

.sg-nav ul span:after {
  content: '';
  height: 0;
  width: 0;
  border-top: 7px solid #ccc;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  right: 24px;
  top: 50%;
  margin-top: -5px;
  display: block;
  position: absolute;
  transition: .4s;
}

.sg-nav a {
  text-decoration: none;
  color: #333;
}

.sg-nav a:hover {
  background: #00bcd4;
  color: #fff;
}

.sg-nav a[href^="http"]:hover {
  background: #00bcd4 url(../img/ico-link.svg) no-repeat right 12px center;
  background-size: 15px 15px;
}

.sg-nav span.is-opened {
  font-weight: bold;
}

.sg-nav span.is-opened:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* Nav top level
========================================================================== */
.sg-nav > li {
  border-bottom: 1px solid #ccc;
  padding: 12px 0;
}

.sg-nav > li > span {
  font-weight: bold;
  padding-left: 58px;
  font-size: 15px;
  position: relative;
}

.sg-nav > li > span i {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: contain;
  position: absolute;
  left: 24px;
  top: 4px;
}

.sg-nav > li > ul {
  display: block;
}

.sg-ico-html {
  background-image: url(../img/ico-html.svg);
}

.sg-ico-documentation {
  background-image: url(../img/ico-docu.svg);
}

.sg-ico-ressources {
  background-image: url(../img/ico-ressources.svg);
}


/* ==========================================================================
   MAIN
   ========================================================================== */
.sg-main {
  transition: .3s;
  padding-top: 60px;
}

.nav-is-opened .sg-main {
  transition: .3s;
  margin-left: 265px;
}

.sg-section {
  padding: 20px 64px;
}

.sg-h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  line-height: 40px;
  margin: 0 0 20px 0;
}

.sg-h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ccc;
  padding: 0 0 8px 0;
  margin: 0 0 20px 0;
}

.sg-h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 15px 0;
}

.sg-desc {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.sg-desc a {
  color: #333;
}


/* Grid
========================================================================== */
.sg-cell {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #eee;
  color: #333;
  font-family: 'Roboto';
  border: 1px solid #ccc;
  font-size: 13px;
}


/* Colors
========================================================================== */
.sg-color {
  display: inline-block;
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  width: 24%;
  border: 1px solid #ccc;
  margin-bottom: 1em;
}

.sg-color span {
  display: block;
  height: 50px;
  border-bottom: 1px solid #ccc;
}

.sg-color span + span {
  padding: 1em;
  height: auto;
  border: 0;
}

.sg-color-group {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 30%;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  border: 1px solid #ccc;
  margin-bottom: 1em;
  display: inline-block;
  vertical-align: top;
}

.sg-color-group li {
  padding: 13px;
}

li.sg-color-title {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.sg-color-dark {
  color: #fff;
}

.sg-color-light {
  color: #333;
}

.sg-color-group li span:last-child {
  float: right;
}


/* Fonts
========================================================================== */
.sg-font {
  display: inline-block;
  border: 1px solid #eee;
  margin: 0 10px 20px 0;
  font-size: 16px;
  width: 49%;
  vertical-align: top;
}

.sg-font:nth-child(even){
  margin-right: 0;
}

.sg-font-title {
  padding: 10px 10px;
  background: #eee;
  color: #333;
}

.sg-font-title span {
  float: right;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.sg-font div:last-child {
  padding: 10px;
}


/* X-Ray HTML
========================================================================== */
[data-xrayhtml] {
  margin-bottom: 20px;
}

.xrayhtml .snippet {
  position: relative;
}

.xrayhtml .source-panel {
  position: relative;
}

.xrayhtml .source-panel pre {
  margin: 0;
}

.sg-copyCode {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  background: #fff;
  border: 1px solid #eee;
  font-family: 'Roboto';
  text-decoration: none;
  padding: 4px 10px;
  color: #333;
  font-size: 13px;
  transition: .3s;
}

.sg-copyCode:hover {
  background-color: #00bcd4;
  border-color: #00bcd4;
  color: #fff;
}

.sg-toggleCode {
  position: absolute;
  left: -35px;
  bottom: 50%;
  margin-bottom: -10px;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: url(../img/ico-html-white.svg);
  background-position: center center;
  background-size: 18px 18px;
  background-color: #ccc;
  cursor: pointer;
  transition: bottom .3s, background-color .3s, -webkit-transform .3s;
  transition: bottom .3s, background-color .3s, transform .3s;
}

.sg-toggleCode:hover {
  background-color: #00bcd4;
}

.sg-toggleCode.is-opened {
  bottom: 0;
  background-color: #00bcd4;
  background-image: url(../img/ico-close.svg);
  background-size: 14px 14px;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}

.xrayhtml .source-panel {
  display: none;
}


/* Markdown viewer
========================================================================== */
.md-viewer {
  border-left: 6px solid #eee;
}


/* Callouts
========================================================================== */
.sg-callout {
  border: 1px solid #eee;
  border-left-color: #ccc;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto';
  color: #333;
  padding: 15px 20px 5px 20px;
  border-left-width: 5px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.sg-callout-title {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #ccc;
}

.sg-callout-danger {
  border-left-color: #d9534f;
}

.sg-callout-danger .sg-callout-title,
.sg-callout-danger a {
  color: #d9534f;
}

.sg-callout-info {
  border-left-color: #5bc0de;
}

.sg-callout-info .sg-callout-title,
.sg-callout-info a {
  color: #5bc0de;
}

.sg-callout-warning {
  border-left-color: #f0ad4e;
}

.sg-callout-warning .sg-callout-title,
.sg-callout-warning a {
  color: #f0ad4e;
}


.sg-desc code,
.sg-callout code {
  padding: 2px 4px;
  font-size: 90%;
  color: #818181;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

.sg-desc a,
.sg-callout a {
  color: #00bcd4;
}

.sg-desc li,
.sg-callout li {
  margin-bottom: 5px;
}


/* ==========================================================================
   HELPER CLASSES
   ========================================================================== */
.sg-clearfix:before,
.sg-clearfix:after {
  content: " ";
  display: table;
}

.sg-clearfix:after {
  clear: both;
}